@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=Oleo+Script+Swash+Caps&display=swap');

* {
    margin: 0;
    font-family: 'EB Garamond', sans-serif;
    box-sizing: border-box;
}

.calendarBox {
    width: 100%;
    min-height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.calendar {
    width: 100%;
    height: 100%;
    border-top: 1px solid lightgray;
    font-family: 'EB Garamond', sans-serif;
}

#calendarTitle {
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
    background-color: rgb(245, 242, 242);
}

.month {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    text-shadow: 0px 0px 10px lightgray;
}

.month i {
    font-size: 40px;
    cursor: pointer;
    text-shadow: 0px 0px 10px gray;
}
.monthYear {
    display: inline-flex;
    font-weight: 500;
}

#currentMonth {
    margin-right: 6px;
}

#currentYear {
    color: grey;
}

.weekdays {
    width: 100%;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 20px;
    font-weight: 200;
    width: calc(100%/7);
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
}

.this-month {
    font-size: 14px;
    width: calc(100%/7);
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    /* text-align: left; */
    font-weight: bold;
    height: 150px;
    display: flex;
}

.prev-date, .next-date {
    opacity: 0.5;
    font-size: 14px;
    width: calc(100%/7);
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    height: 150px;
}

.this-month:hover, .prev-date:hover, .next-date:hover {
    border: 2px solid grey;
    cursor: pointer;
}

.today {
    background-color: whitesmoke;
}


.calendar .lookBox {
    height: 100%;
    width: 100%;
    position: relative;
}
.calendar .lookBox img {
    height: auto;
    width: 65px;
    position: absolute;
}

.calendar .lookButtons {
    display: none;
}

.dates {
    position: absolute;
    z-index: 10;
}


