@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Oleo+Script+Swash+Caps&display=swap');

html, body {
    margin: 0;
}

.header {
    min-height: 15%;
    margin-bottom: 15px;
    width: 100%;
    margin-top: 1%;
    text-align: center;
    align-items: center;
}

#appTitle {
    font-family: 'EB Garamond', serif;
    font-weight: bolder;
    font-size: 38px;
    margin-bottom: 0.2%; 
}

#motto {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 3%;
}

#navbarContainer {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.navItem {
    margin-right: 2%;
    font-weight: 600;
    color: black;
}

a:link {
    text-decoration: none;
}
a:visited {
    color: black;
}

a:hover {
    color: grey;
}


#calendarBar {
    margin-right: 0;
}

#introBody {
    margin: 0 auto;
    width: 100%;
    min-height: 85%;
}

#getStarted {
    font-family: 'EB Garamond', serif;
    border: 1px solid black;
    border-radius: 30px;
    position: absolute;
    left: 45%;
    font-size: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px grey;
    bottom: 40%;
}