@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Oleo+Script+Swash+Caps&display=swap');

* {
    margin: 0;
    font-family: 'EB Garamond', sans-serif;
    box-sizing: border-box;
}


.mainBody {
    width: 100%;
    height: 710px;
    display: block;
    border-bottom: 1px solid lightgrey;
}

img {
    opacity: 1;
}

.closetHeader {
    display: flex;
    border: 1px solid lightgrey;
    width: 100%;
    align-items: center;
    height: 50px;
}

#category {
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0px 0px 10px lightgray;
    width: 18%;
    min-width: 18%;
    height: 100%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    border-right: 1px solid lightgrey;
}

.buttonsTop {
    width: 82%;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
}

#closet {
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0px 0px 10px lightgray;
}

.closetBody {
    height: 660px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

#categoryBox {
    width: 18%;
    min-width: 18%;
    height: 100%;
    display: block;
    position: relative;
    border-right: 1px solid lightgrey;
}

.categoryList {
    height: 100%;
    overflow-y: scroll;
}

.categoryName {
    font-size: 18px;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}

categoryName:hover {
    background-color: lightgray;
}

.iconImage {
    height: 40px;
    width: 40px;
    min-width: 40px;
    margin-right: 15px;
    opacity: 0.5;
}

.pageFooter {
    position: absolute;
    bottom: 0px;
    display: flex;
    font-size: 18px;
    padding: 15px;
    width: 100%;
    background-color: rgb(211, 211, 227);
    align-items: center;
    cursor: pointer;
}

.clothesBox {
    width: 82%;
    height: 100%;
    overflow-y: scroll;
}

.imageList {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.clothesImageBox {
    position: relative;
    width: 120px;
    min-width: 120px;
    height: 170px;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid lightgray;
}

.clothesItem {
    width: 100%;
    height: 100%;
    padding: 1px;
}


.plusSign {
    margin-right: 5px;
    z-index: 11;
}

.choicePopup {
    height: 80px;
    width: 200px;
    text-align: center;
    position: absolute;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    bottom: 48px;
    left: 25px;
    z-index: 10;
    font-size: 18px;
    color: rgb(140, 140, 178);
    box-shadow: 0px 0px 20px lightgrey;
    cursor: pointer;
}

.popupChoice {
    padding: 10px;
}

.uploadPhoto {
    border-bottom: 1px solid lightgrey;
}

.triangle {
    width: 0;
    height: 0;
    border: 10px solid rgb(211, 211, 227);
    border-bottom: 0;
    border-top: 10px solid white;
    position: absolute;
    bottom: 38px;
    left: 25px;
    z-index: 10;
}

.disabledPopup {
    pointer-events: none;
    opacity: 0;
    display: none;
}

.uploadPhoto:hover {
    background-color: lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.importWeb:hover {
    background-color: lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.uploadPopupTriangle {
    width: 0;
    height: 0;
    border: 10px solid rgb(211, 211, 227);
    border-bottom: 0;
    border-top: 10px solid transparent;
    position: absolute;
    bottom: 35px;
    left: 25px;
    z-index: 10;
}

.uploadPopup {
    padding: 10px;
    height: 45px;
    width: 200px;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    bottom: 48px;
    left: 25px;
    z-index: 10;
    font-size: 18px;
    color: rgb(140, 140, 178);
    box-shadow: 0px 0px 20px lightgrey;
    cursor: pointer;
    box-sizing: border-box;
}

.uploadPopupTriangle {
    width: 0;
    height: 0;
    border: 10px solid rgb(211, 211, 227);
    border-bottom: 0;
    border-top: 10px solid white;
    position: absolute;
    bottom: 38px;
    left: 25px;
    z-index: 10;
}

.imgUpload {
    width: 180px;
}

.popupOuterBox {
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -25%);
    height: 680px;
    width: 600px;
    min-width: 600px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px lightgrey;
    background-color: white;
    font-size: 18px;
    z-index: 20;
    background-color: white;
}

.actionsButtonsTop {
    height: 40px;
    text-align: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid lightgrey;
    
}

.popupLabel {
    font-weight: 700;
    text-shadow: 0px 0px 10px lightgray;
}

.clipButtons {
    color: rgb(140, 140, 178);
    cursor: pointer;
    font-size: 18px;
}

.clipperBody {
    width: 100%;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.urlBox {
    display: flex;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    padding-right: 2px;
}

#urlInputField {
    width: 96%;
    font-size: 18px;
    border: transparent;
    border-radius: 10px;
    padding: 2px;
    padding-left: 10px;
}

#urlInputField:focus {
    outline: none;
}

.clipperInstructions {
    line-height: 24px;
    margin-bottom: 20px;
}

.fa-circle-xmark {
    font-size: 20px;
    color: lightgrey;
}

.outOfFocus {
    opacity: 0.5;
    pointer-events: none;
}

object {
    height: 100%;
    width: 100%;
 }

 .penEdit {
    position: absolute;
    font-size: 14px;
    color: gray;
    top: 150px;
    left: 80px;
    cursor: pointer;
}

.deleteImage {
    position: absolute;
    font-size: 14px;
    color: gray;
    top: 150px;
    left: 100px;
    cursor: pointer;
}

.deleteImagePopup {
    border: 1px white solid;
    background-color: white;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightgray;
    padding: 5px;
    text-align: center;
    width: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.showPickedImage {
    margin: 20px;
    position: relative;
    height: 600px;  
}

.pickedImage {
    background-color: transparent;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.disabledButton {
    opacity: 0.5;
    pointer-events: none;
}

.defaultCategories {
    margin-top: 15px;
    text-align: center;
}

.pickFeaturesBody {
    text-align: center;
    margin: 20px;
}

.pickFirstCategory {
    padding: 10px;
    border: 1px solid lightgray;
    overflow-y: scroll;
    border-radius: 10px;
    height: 420px;
    box-shadow: 0px 0px 5px lightgray;
    cursor: pointer;
}

.pickCategory {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid lightgray;
}

.pickCategory:hover {
    background-color: lightgrey;
}

.categoryPicked {
    background-color: lightgrey;
    opacity: 1;
}

.popupIcon {
    margin-right: 5px;
    height: 30px;
    width: 30px;
}

p {
    font-weight: 700;
    text-shadow: 0px 0px 10px lightgray;
}

.pickColor {
    border: 1px solid lightgrey;
    height: 160px;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgray;
}

.colorList {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.colorCircle {
    border-radius: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    margin-right: 15px;
    margin-top: 20px;
}

.colorCircle:last-child {
    margin-right: 0px;
}

.colorPicked {
    border: 3px solid rgb(180, 176, 176);
    box-shadow: 0px 0px 10px lightgrey;
}

#silver {
    background-color: silver;
}

#gold {
    background-color: gold;
}

#beige {
    background-color: #d2b698;
}
#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: rgb(0, 85, 255);
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: rgb(245, 245, 29);
}

#white {
    background-color: white;
}

#black {
    background-color: black;
}

#pink {
    background-color: rgb(253, 179, 233);
}

#brown {
    background-color: rgb(139, 97, 97);
}

#purple {
    background-color: rgb(183, 99, 211);
}

#grey {
    background-color: rgb(164, 160, 165);
}

.iconDropMenu {
    position: absolute;
    top: 300px;
    left: 160px;
    border: 1px solid lightgrey;
    height: 250px;
    width: 80px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgray;
    overflow-y: scroll;
    z-index: 30;
    background-color: white;
}

.iconPic {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.iconPic:hover {
    background-color: rgba(211, 211, 211, 0.5);
}

.itemsSelected {
    border: 3px solid lightgrey; 
    cursor: pointer;
}

.createLookBody {
    width: 100%;
    min-width: 100%;
    height: 640px;
    display: flex;
}

.lookItem {
    height: 400px;
    width: 300px;
    display: block;
    z-index: 20;
}

#lookMakerBoard {
    width: 470px;
}

#customCategoryName {
    border: transparent;
    width: 100%;
    float: right;
    padding: 2px;
    height: 98%;
    background-color: white;
    font-size: 18px;
}


.downIcon {
    text-align: center;
    position: absolute;
    top: 115px;
    left: 38px;
    font-size: 22px;
}


